body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}
#lights{
    display: flex;
    width: 500px;
    height: 100px;
    text-align: center;
    justify-content: space-between;
    list-style-type: none;
}
.light{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
    transition: opacity 1s ease;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.cyan{
    background-color: cyan;
}
.blue{
    background-color: blue;
}
.purple{
    background-color: purple;
}